{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Movie' %}: {{ object.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

    <!-- Card -->
    <div class="card">
        <div class="card-body">

            <h4 class="card-title"><a>{{ object.title }}</a></h4>

            <p class="card-text">
                <dl class="dl-horizontal">
                    <p><b>Director:</b> {{ object.director }}</p>
                    <p><b>Release Date:</b> {{ object.released_on }}</p>
                    <p><b>Rated:</b> {{ object.rated }}</p>
                    <p><b>Genre:</b> {{ object.genre }}</p>
                </dl>
            </p>

            <p class="card-text" style="text-align: justify">{{ object.plot }}</p>
            <!-- Button -->
{#            <a href="#" class="btn btn-primary">Button</a>#}

        </div>

    </div>
    <!-- Card -->
{% endblock %}
